body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-container {
  display: flex;
  align-items: center;
}

video {
  width: 80%;
  border: 2px solid #fff;
  border-radius: 8px;
}

.volume-control {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  width: 150px;
  margin-top: 5px;
}
